:root{
  --main-theme:rgb(241, 165, 26);
  --main-theme-transparent:rgba(241, 166, 26, 0.684);
}

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #1c1e1f;

}

header{
  border-bottom: 5px solid  var(--main-theme);
  height: 10vh;
  border-bottom: 5px solid var(--main-theme);
  margin: 20px;
}
.name{
  display: inline-block;
  font-size: 30px;
  width: 300px;
  height: 100%;

}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links{
  padding: 25px 0;
}
.links li{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
.links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;

}
.links li:hover,
.introduction-text p span:hover,
.introduction-text h1:hover,
h2:hover,
.name:hover,
.links li a:hover{
 color: var(--main-theme);
 transition: 0.3s ease-in-out;

}

.hero-banner {
  padding: 0 auto;
  margin: 20px;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}

.introduction-text{
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 500px;
  text-align: start;
  justify-content: space-evenly;
  font-size: 20px;
}
.introduction-text h1{
  font-size: 40px;
  margin-bottom: 40px;
}

.introduction-text p {
  color: #fff;
  text-justify:distribute-all-lines;
}

.my-picture{
  background-image: url(../images/20211206_140005.jpg);
  height: 320px;
  width: 320px;
  background-size: cover;
  border-radius: 16px;

}
.my-picture:hover{
  scale: 1.03;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 26px 16px  var(--main-theme);
}

.page-wrapper{
  padding: 0 auto;
  margin: 20px;

}

#about{
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 500px;
  text-align: start;
  justify-content: space-evenly;
  font-size: 20px;
}

.page-section{
  padding: 0 auto;
  margin: 20px;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}
#front-end-picture{
  background-image: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
  height: 320px;
  width: 320px;
  background-size: cover;
  border-radius: 16px;
}

#work{
  height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#work h2{
  margin: 0 auto;

}

.grid{
  align-items: center;
  width: 80%;
  height: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "pokememory darkmode"
  "todo habit-tracker";
} 


.text-inside{
  padding-left: 5px;
  padding-bottom: 5px;
  width: 40%;
  height: 35%;
  border-left: 5px solid var(--main-theme);
  border-bottom: 5px solid var(--main-theme);
}
.text-inside h2{
  font-size: 25px;
  color: var(--main-theme);
}
.text-inside h4{
  font-size: 15px;
  color: var(--main-theme);
}
.text-inside:hover{

  color: #fff;
  transition: 1s ease-in-out;
}

.grid-units{
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 470px;
  height: 220px;
  border-radius: 15px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.grid-units:hover{
  scale: 1.2;
  transition: 0.5s ease-in-out;
}

#pokememory{
  grid-area: pokememory;
  background-image: url(../images/pokememory3.png);
  background-size: contain;
 
}

#dark-mode{
  grid-area: darkmode;
  background-image: url(../images/Dark\ mode.png);
  background-size: contain;
}
#TODO{
  grid-area: todo;
  background-image: url(../images/TODO.png);
  background-size: contain;
}
#habit-tracker{
  grid-area: habit-tracker;
  background-image: url(../images/Habit.png);
  background-size: contain;

}
#contact{
  text-align: center;
  height: 15vh;
}

span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}

p {
  margin: 0;
}

