:root {
  --main-theme: rgb(241, 165, 26);
  --main-theme-transparent: rgba(241, 166, 26, 0.684);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #1c1e1f;
}

header {
  border-bottom: 5px solid var(--main-theme);
  height: 100px;
  border-bottom: 5px solid var(--main-theme);
  margin: 20px;
}
.name {
  display: inline-block;
  font-size: 30px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding: 25px 0;
}
.links li {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
.links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.links li:hover,
.introduction-text p span:hover,
.introduction-text h1:hover,
h2:hover,
.name:hover,
.links li a:hover {
  color: var(--main-theme);
  transition: 0.3s ease-in-out;
}

.hero-banner {
  padding: 0 auto;
  margin: 20px;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}

.introduction-text {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 500px;
  text-align: start;
  justify-content: space-evenly;
  font-size: 20px;
}
.introduction-text h1 {
  font-size: 40px;
  margin-bottom: 40px;
}

.introduction-text p {
  color: #fff;
  text-justify: distribute-all-lines;
}

.my-picture {
  background-image: url(../images/20211206_140005.jpg);
  height: 320px;
  width: 320px;
  background-size: cover;
  border-radius: 16px;
}
.my-picture:hover {
  scale: 1.03;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 26px 16px var(--main-theme);
}

.page-wrapper {
}

#about {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 500px;
  text-align: start;
  justify-content: space-evenly;
  font-size: 20px;
}

.page-section {
  padding: 0 auto;
  margin: 20px;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}

#work {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#work h2 {
  margin: 0 auto;
}

.grid {
  align-items: center;
  width: 80%;
  height: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "not-found not-found"
    "pokememory darkmode"
    "todo habit-tracker";
}

.text-inside {
  -webkit-text-stroke: 0.8px black;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 40%;
  height: 35%;
  border-radius: 15px;
}
.text-inside h2 {
  font-size: 25px;
  color: #fff;
}
.text-inside h4 {
  font-size: 15px;
  color: #fff;
}
.text-inside:hover {
  color: #fff;
  transition: 1s ease-in-out;
}

.grid-units {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 450px;
  height: 220px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.grid-units a {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.grid-units:hover {
  scale: 1.2;
  transition: 0.5s ease-in-out;
}

#pokememory {
  grid-area: pokememory;
  background-image: url(../images/pokememory3.png);
 
}

#dark-mode {
  grid-area: darkmode;
  background-image: url(../images/Dark\ mode.png);

}
#TODO {
  grid-area: todo;
  background-image: url(../images/TODO.png);

}
#habit-tracker {
  grid-area: habit-tracker;
  background-image: url(../images/Habit.png);
}
#contact {
  margin-top: 30px;
  text-align: center;
  height: 15vh;
}
.contact-links {
  padding: 0;
}
#not-found {
  grid-area: not-found;
  background-image: url(../images/notfound.png);

  background-position: center;
}
#not-found div {
  width: 200px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}

span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #fff;
}

p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 10vh;
  }

  .name {
    font-size: 30px;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .links {
    padding: 0;
    margin: 0;
  }
  .links li {
    margin: 0px 9px;
  }
  .links li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
  }
  .hero-banner {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .my-picture {
    background-image: url(../images/20211206_140005.jpg);
    height: 320px;
    width: 320px;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
  }
  .introduction-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: start;
    font-size: 20px;
    align-items: center;
  }
  .introduction-text h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .introduction-text p {
    text-align: center;
  }
  .my-picture {
    height: 50vh;
    width: 80%;
  }
  #work {
    margin-top: 40px;
    height: 90vh;
    font-size: 20px;
    justify-content: space-between;
  }
  .grid {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
  }
  .grid-units {
    margin: 0;
    width: 300px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  .grid-units:hover {
    scale: 1;
    transition: none;
  }
  .text-inside {
    height: 35%;
    width: 35%;
  }
  .text-inside h2 {
    font-size: 17px;
  }
  .text-inside h4 {
    font-size: 10px;
  }
  #contact {
    height: 10vh;
    margin-top: 50px;
  }
}
